body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0 auto;
  color: #333333;
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  background-color: #333333;
  color: white;
  padding: 20px;
  margin: 0 auto;
}

.subtitle {
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: #bccad6;
  margin: 0 auto;
}

.form {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  margin: 0 auto;
}

input[type=text] {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: #f2f2f2;
  outline: none;
}

.opt,
#decision {
  width: 70%;
}

.eff {
  width: 45%;
}

input[type=number] {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: #f2f2f2;
  outline: none;
}

.addfield {
  margin: 0 auto;
  font-size: 14px;
  color: #bccad6;
}

.removefield {
  margin: 0 auto;
  font-size: 14px;
  color: DarkSalmon;
}

input[type=button],
input[type=submit],
input[type=reset] {
  border: none;
  background-color: white;
  font-weight: bold;
  margin: 0 auto;
}

.optcontent {
  font-weight: bold;
}

.effcontent {
  font-weight: bold;
}

label {
  padding: 0px 10px 0px 10px;
  margin: 0 auto;
  color: #d9d9d9;
}
input[type="radio"] {
    display:none;   
}
input[type="radio"]:checked + label {
  color: darksalmon;
}

.formheaders {
  padding: 30px 0px 10px 0px;
}

.result {
  font-size: 30px;
  font-weight: bold;
  color: darksalmon;
}

.back {
  color: #d9d9d9;
}

footer,
.restart,
.small {
  color: #d9d9d9;
  margin: 0 auto;
}


/* unvisited link */
a:link {
    color: #bccad6;
}

/* visited link */
a:visited {
    color: #bccad6;
}

/* mouse over link */
a:hover {
    color: #333333;
  text-decoration: none;
}




::-webkit-input-placeholder {
   color: #d9d9d9;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d9d9d9;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d9d9d9;  
}

:-ms-input-placeholder {  
   color: #d9d9d9;  
}

.alertbox {
  background-color: darksalmon;
  margin: 0 auto;
  padding: 10px;
  color: white;
  font-size: 20px;
  
}